@import './reset.scss';


#logo{
    height: 44px;
    width: 100%;
    background-color: #0092d8;
    img{
        margin: 6px 6px 0 23px;
    }
}
.main{
    width: 1716px;
    margin: 0 auto;
}
.denglu{
        width: 983px;
        height: 483px;
        margin: 67px 361px 0 320px;
    .lu1{
        width: 538px;
        height: 482px;
        margin-right: 62px;
    }
    img{
        width: 100%;
        height: 100%;
    }
    .lu2{
        width: 370px;
        height: 482px;
        border: 1px solid #d6d6d6;
        .lu2_1{
            width: 300px;
            margin: 33px 0 0 35px;
            h1{
                font-size: 24px;
                line-height: 24px;
                color: #676767;
            }
            .mg{
                width: 300px;
                height: 49px;
                margin-top: 25px;
                img{
                    width: 100%;
                    height: 100%;
                }
                a{margin-right: 23px;}
            }
            h2{
                width: 300px;
                height: 66px;
                font-size: 24px;
                line-height: 39px;
                padding-top: 31px;
                border-top: 1px solid #efefef;
                color: #676767;
                margin-top: 26px;
            }
            input{
                width: 298px;
                height: 37px;
                text-align: left;
                font-size: 12px;
                line-height: 37px;
                color: #77797b;
                padding-left: 10px;
                margin-bottom: 10px;
            }
            button{
                width: 312px;
                height: 40px;
                background-color: #0092d8;
                color: #fff;
                font-size: 14px;
                margin-top: 13px;
                border: none;
            }
            .nav{
                width: 312px;
                margin-top: 20px;
                background-color: pink;
                li{
                    float: left;
                    &:nth-child(1){
                        width: 113px;
                        a{
                            padding-right: 20px;
                            border-right: 1px solid #77797b;
                        }
                    }
                    &:nth-child(2){
                        margin-right: 116px;
                    }
                    a{
                        color: #77797b;
                        font-size: 12px;
                        line-height: 12px;
                        &:hover{
                            color: #ff2919;
                        }
                    }
                }
                
                
            }
        }
    }
}
.footer{
    width: 100%;
    height: 13px;
    border-top: 1px solid #e2e2e2;
    font-size: 12px;
    text-align: center;
    margin-top: 190px;
    margin-bottom: 100px;
    padding: 20px 0 37px;
    color: #9f9f9f;
}